.progress {
  $progressHeight: .3rem;
  height: $progressHeight;
  background: #222;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  
  &:hover,
  &:active {
    .fill::after {
      opacity: 1;
    }
  }

  &:hover,
  &.active {
    .fill {
      background: #46cf64;
    }
  }

  .fill {
    position: relative;
    width: var(--value);
    height: 100%;
    border-radius: 2rem;
    background: white;
    transition: .1s cubic-bezier(0,1.15,.37,1.01);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(50%, -50%, 0);
      width: calc($progressHeight * 2.4);
      height: calc($progressHeight * 2.4);
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
      transition: .1s ease;
      opacity: 0;
    }
  }
}