@font-face {
  src: url('/fonts/Jost/Jost-Default.ttf');
  font-family: 'Jost';
}

@font-face {
  src: url('/fonts/Raleway/Raleway.ttf');
  font-family: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  font-family: 'Jost', 'Raleway', sans-serif;
  -webkit-user-drag: none;
}

body, html {
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

button {
  -webkit-app-region: no-drag !important;
}